<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div th:each="cheese : ${cheeses}">
        <label th:text="${cheese.key}"></label>
        <input type="checkbox" name="passedCheeses" th:value="${cheese.key}" />
        <br />
    </div>
    <input type="submit" value="Remove Cheese" />
</form>
</body>
</html>